*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif; 
   box-sizing: border-box;
}
.container{
width: 100%;
height: 100vh;
background-color: whitesmoke;
display: flex;
align-items: center;
justify-content: center;
}
.top-bar{
    background-color: rgb(63, 63, 150);
    width: 350px;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 25px;
    justify-content: flex-end;
    
}

.top-bar:disabled {
    color: black;
}
.calculator{
    background: black;
    padding: 20px;
    width: 400px;
    height: 367px;
}
.keys{
    background-color: rgba(36, 37, 48, 1);
    height: 52px;
    width: 79px;;
    border-radius: 20px;
margin-bottom: 8px;
cursor: pointer;
text-decoration: none;
}
.keys:hover{
    background: darkblue;
    scale: 1.1;
}
form .display input{
    text-align: right;
    flex: 1;
    font: 45px; 
}
.equal{
    width: 100px;
    height: 52px;
    background-color: rgb(98, 98, 175);
    border-radius: 20px;
    background-color: gray;
}

.opr{
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 8px;
cursor: pointer;
}


